.card-element {
    display: inline-block;
    height: min-content;
    margin: 5% 2%;
    padding-top: 1%;
    text-align: center;
}

.card-intitule {
    color: #8E0EB4;
}

.card-prerequis {
    color:#E61010;
}

.card-recompense {
    color:#506EE8;
}

.card-element a {
    color: black;
}

.card-element a:hover {
    text-decoration: none;
    color: black;
}