@import "navbar.css";
@import "card.css";

.cours {
    background: url("../contenu/image/library.png");
    height: 680px;
}

.cours-card {
    background: #DCD8FE;
}

.cours-card:hover {
    background: #F0EFFD;
}

@media screen and (max-height: 680px) {
    .cours {
        height: 100%;
    }
}