@import "homepage.css";

h2 {
    margin-left: 20%;
    padding-top: 2%;
}

.profil-txt {
    margin-top: 5%;
}

.card-balise{
    display: inline-block;
    padding: 2%;
    background: blue;
    margin: 1% 1%;
}